@{
	ViewData["Title"] = "Home Page";
}

<h4>CONTACTS</h4>
<div>
	<div class="contact" id="'+person.id+'">
		<h1 class="pname">'+ person.name +'</h1>
		<p class="pemail">'+person.email +'</p>
		<p class="pmobile">'+person.mobile+'</p>
	</div>
</div>



