
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
	font-size: 15px;
}


#addressBookHeading {
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 20px;
	background-color: #3399cc;
}

#addressBookHeading h1{
	font-size: 50px;
	color: white;
	font-weight: lighter;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
	
}

/* NavBar Edit */
.navbar-edit {
	border: none;
	border-radius: 0;
	min-height: 46px;
	background-color: black;
	margin-bottom: 28px;
}
.navbar-edit :before{
	content: "";
}
.navbar-ul :after{
	content: "";
}

.top-navbar img {
	float: right;
	margin-right: 20px;
	margin-top: 14px;
}

.navbar-edit a {
	font-weight: 700;
	font-size: 15px;
	color: white;
	padding-top: 14px;
	padding-bottom: 12px;
}

.navbar-edit a:hover{
	background-color: white;
	color: black;
}

.nav{
	margin: 0;
}

.popup-container {
	top: 0;
	left: 440px;
	border-radius: 5px;
	padding: 20px;
	margin: 0 auto;
	border: 1px solid gray;
	box-shadow: 0 0 10px 5px #333;
	background-color: white;
	max-width: 700px;
	font-size: 15px;
	color: black;
	font-family: Calibri;
	font-weight: bold;
}

.popup-container input, select, textarea {
	width: 100%;
	padding: 12px;
}

.popup-container .block {
	margin-bottom: 16px;
}

.popup-container span {
	color: red;
	font-size: 13px;
}

.popup-container input[type=submit], input[type=button] {
	background-color: #468c00;
	color: white;
	padding: 12px 20px;
	border: none;
}


.content {
	display: flex;
	justify-content: space-between;
}

.popup-container input[type=submit], input[type=button] {
	background-color: #468c00;
	color: white;
	padding: 12px 20px;
	border: none;
}

.list-content label {
	margin-bottom: 6px;
}

.list-content {
	margin-bottom: 16px;
}

.list-content input {
	width: 100%;
	padding: 12px;
	margin-right: 10px;
}

#address {
	height:100px;
}
#cancel{
	margin-top: 10px;
}

.contact {
	font-size: 15px;
	border: 1px solid grey;
	padding: 10px;
}

.contact :hover{
	text-decoration: none !important;
}
.contact :not(:first-of-type){
	border-top: 0;
}
.contact h1 {
	margin-top: 0;
	margin-bottom: 6px;
	font-weight: lighter;
}

.contact p {
	margin: 0;
	color: #454545;
}

#contactsList a:hover{
	text-decoration: none;
}



.side-contacts-list h1, p {
	text-decoration: none;
	color: black;
}

.pname {
	font-size: 34px;
	color: #454545 !important;
}
#contactsList {
	width: 360px;
}

#contactsList :hover {
	background-color: #cee7f2;
}


#completeContainer{
	display: inline-flex;
}

#contact-info {
	margin-left: 194px;
	font-size: 15px;
	color: black;
	font-family: calibri;
}

#contact-info .contact-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#contact-info .display-contact {
	width: 300px;
}

#contact-info .display-contact p {
	margin-bottom: 10px;
}

#contact-info .display-contact div p {
	margin-bottom: 0;
	margin-top: 0;
}

#contact-info .icons {
	display: inline-flex;
	margin-top: 24px
}

#edit {
	margin-top: 5px;
	margin-right: 36px;
	margin-left: 8px;
}
#edit a {
	color: #454545;
}
#delete a {
	color: #454545;
}

#delete {
	margin-top: 2px;
}

#contact-info .icons #image-1 {
	width: 15px;
	height: 15px;
}

#contact-info .icons #image-2 {
	vertical-align: sub;
}

#contact-info .icons img {
	margin-right: 5px;
}

#contact-info .icons span {
	margin-right: 10px;
}

.div-not-visible{
	display: none;
}

.div-visible{
	display: block;
}

/* Hide/rearrange for smaller screens */					
@media screen and (max-width: 767px) {
	
}



