@model Technovert.Models.ContactList
@{
	ViewData["Title"] = "Home Page";
}

<h4>CONTACTS</h4>




<div>
	@foreach (var item in Model.Contacts)
	{
		<div class="contact" id="@Html.DisplayFor(modelItem => item.ID)">
			<h1 class="pname">@Html.DisplayFor(modelItem => item.Name)</h1>
			<p class="pemail">@Html.DisplayFor(modelItem => item.Email)</p>
			<p class="pmobile">@Html.DisplayFor(modelItem => item.Mobile)</p>
		</div>
	}
</div>

